# Node
frontend/node_modules/
frontend/dist/

# Angular cache
frontend/.angular/

# Python
backend/__pycache__/
backend/env/
backend/.venv/
backend/venv/
backend/*.pyc
backend/.mypy_cache/

# IDEs
*.log
*.env
.vscode/
.idea/

# Otros
.DS_Store
